[Unit]
Description=Datalogger App
After=network.target

[Service]
ExecStart=/usr/bin/python /home/pi/coltene-datalogger/app_vis.py
WorkingDirectory=/home/pi/coltene-datalogger/
User=root
Restart=always
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
