<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coltene Datalogger</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="titlebox">
        <h1> COLTENE Datalogger </h1>
    </div>
    <div class="box">
        <div class="column left">
            <h3> Recording: <span id="recording-status"></span> </h3>
        </div>
        <div class="column right">
            <button id="recording-button">Start Recording</button>
        </div>
    </div>
    <div class="box">
        <div class="column left">
            <h3> Battery Status </h3>
        </div>
        <div class="column right">
            <p>
                Power: <span id="battery_power"></span> %
                <br>
                Temperature: <span id="battery_temp"></span>&deg;C
                <br>
                Fault: <span id="battery_faults"></span>
                <br>
                System Switch: <span id="system_switch"></span>
            </p>
        </div>
    </div>
    <div class="box">
        <div class="column left">
            <h3> Raspberry Pi Status </h3>
        </div>
        <div class="column right">
            <p> 
                Time: <span id="timestamp"></span>
                <br>
                Temperature: <span id="temperature"></span>&deg;C
                <br>
                Storage available: <span id="available_space"></span> GB / 16 GB
            </p>
        </div>
    </div>
    <div class="box">
        <div class="column left">
            <h3>Log Files</h3>
            <p> click filename to download </p>
        </div>
        <div class="column right">
            <ul class="filelist">
                {% for file in files %}
                <li><a class="link" href="/download/{{ file }}" download="{{ file }}">{{ file }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="column right">
        <iframe src="/dash/" width="800" height="500" frameBorder="0"></iframe>
    </div>
    <script>
        let recording = false; // Get the recording state from the server

        const recordingButton = document.getElementById("recording-button");
        const recordingStatus = document.getElementById("recording-status");
        const temperatureDisplay = document.getElementById("temperature");
        const storageDisplay = document.getElementById("available_space");
        const batteryTempDisplay = document.getElementById("battery_temp");
        const batteryPowerDisplay = document.getElementById("battery_power");
        const batteryFaultsDisplay = document.getElementById("battery_faults");
        const systemSwitchDisplay = document.getElementById("system_switch");

        fetch("/status")
            .then(response => response.json())
            .then(data => {
                recording = data.recording;
                updateRecordingStatus();
                updateRecordingButtonLabel();
            });

        recordingButton.addEventListener("click", () => {
            fetch("/start_stop_recording", { method: "POST" })
                .then(response => response.json())
                .then(data => {
                    recording = data.recording;
                    updateRecordingStatus();
                    updateRecordingButtonLabel();
                });
        });

        function updateRecordingStatus() {
            if (recording) {
                recordingStatus.innerText = "On";
                recordingStatus.style.color = "green";
            }
            else {
                recordingStatus.innerText = "Off";
                recordingStatus.style.color = "red";
            }
        }
        function updateRecordingButtonLabel() {
            recordingButton.innerText = recording ? "Stop Recording" : "Start Recording";
        }
        function updateStatus() {
            fetch("status")
                .then(response => response.json())
                .then(data => {
                    temperatureDisplay.innerText = data.temperature;
                    storageDisplay.innerText = data.available_space;
                    batteryTempDisplay.innerText = data.battery_temp;
                    batteryPowerDisplay.innerText = data.battery_power;
                    batteryFaultsDisplay.innerText = data.battery_faults;
                    systemSwitchDisplay.innerText = data.system_switch;
                    document.getElementById("timestamp").innerText = data.timestamp;
                });
        }

        // Start updating pcb status immediately and periodically
        updateStatus();
        setInterval(updateStatus, 2000);
    </script>
</body>
</html>
